<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>4AE238AB-6A4C-459B-8E99-4D2856E6BBFA</key>
		<dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>4AE238AB-6A4C-459B-8E99-4D2856E6BBFA</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>uni000D</string>
		<string>space</string>
		<string>uni0981</string>
		<string>uni0982</string>
		<string>uni0983</string>
		<string>uni0985</string>
		<string>uni0986</string>
		<string>uni0987</string>
		<string>uni0988</string>
		<string>uni0989</string>
		<string>uni098A</string>
		<string>uni098B</string>
		<string>uni098C</string>
		<string>uni098F</string>
		<string>uni0990</string>
		<string>uni0993</string>
		<string>uni0994</string>
		<string>uni0995</string>
		<string>uni0996</string>
		<string>uni0997</string>
		<string>uni0998</string>
		<string>uni0999</string>
		<string>uni099A</string>
		<string>uni099B</string>
		<string>uni099C</string>
		<string>uni099D</string>
		<string>uni099E</string>
		<string>uni099F</string>
		<string>uni09A0</string>
		<string>uni09A1</string>
		<string>uni09A2</string>
		<string>uni09A3</string>
		<string>uni09A4</string>
		<string>uni09A5</string>
		<string>uni09A6</string>
		<string>uni09A7</string>
		<string>uni09A8</string>
		<string>uni09AA</string>
		<string>uni09AB</string>
		<string>uni09AC</string>
		<string>uni09AD</string>
		<string>uni09AE</string>
		<string>uni09AF</string>
		<string>uni09B0</string>
		<string>uni09B2</string>
		<string>uni09B6</string>
		<string>uni09B7</string>
		<string>uni09B8</string>
		<string>uni09B9</string>
		<string>g51</string>
		<string>uni09BD</string>
		<string>uni09BE</string>
		<string>uni09BF</string>
		<string>uni09C0</string>
		<string>uni09C1</string>
		<string>uni09C2</string>
		<string>uni09C3</string>
		<string>uni09C4</string>
		<string>uni09C7</string>
		<string>uni09C8</string>
		<string>uni09CB</string>
		<string>uni09CC</string>
		<string>uni09CD</string>
		<string>uni09D7</string>
		<string>uni09DC</string>
		<string>uni09DD</string>
		<string>uni09DF</string>
		<string>uni09E0</string>
		<string>uni09E1</string>
		<string>uni09E2</string>
		<string>uni09E3</string>
		<string>uni09E6</string>
		<string>uni09E7</string>
		<string>uni09E8</string>
		<string>uni09E9</string>
		<string>uni09EA</string>
		<string>uni09EB</string>
		<string>uni09EC</string>
		<string>uni09ED</string>
		<string>uni09EE</string>
		<string>uni09EF</string>
		<string>uni09F0</string>
		<string>uni09F1</string>
		<string>uni09F2</string>
		<string>uni09F3</string>
		<string>uni09F4</string>
		<string>uni09F5</string>
		<string>uni09F6</string>
		<string>uni099C_uni09BC_uni09F0_uni09CD</string>
		<string>uni09F7</string>
		<string>uni09F8</string>
		<string>uni09FA</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>uni09F9</string>
		<string>uni20B9</string>
		<string>uni09FB</string>
		<string>uni09DC_uni09C1</string>
		<string>uni09DC_uni09C2</string>
		<string>uni09DD_uni09C1</string>
		<string>uni09DD_uni09C2</string>
		<string>g103</string>
		<string>uni09F1_uni09F0_uni09CD_uni09C1</string>
		<string>uni09F1_uni09F0_uni09CD_uni09C2</string>
		<string>uni09BF.pres</string>
		<string>uni099C_uni09BC</string>
		<string>g108</string>
		<string>g109</string>
		<string>g110</string>
		<string>g111</string>
		<string>g112</string>
		<string>uni09CE</string>
		<string>g114</string>
		<string>g115</string>
		<string>g116</string>
		<string>g117</string>
		<string>g118</string>
		<string>g119</string>
		<string>g120</string>
		<string>uni0995_uni09F0_uni09CD</string>
		<string>g122</string>
		<string>uni0995_uni09AC_uni09CD</string>
		<string>g124</string>
		<string>g125</string>
		<string>g126</string>
		<string>g127</string>
		<string>g128</string>
		<string>g129</string>
		<string>uni0996_uni09F0_uni09CD</string>
		<string>uni0996_uni09AC_uni09CD</string>
		<string>uni0997_uni09C1</string>
		<string>g133</string>
		<string>g134</string>
		<string>g135</string>
		<string>g136</string>
		<string>g137</string>
		<string>g138</string>
		<string>g139</string>
		<string>uni0997_uni09F0_uni09CD</string>
		<string>uni0997_uni09F0_uni09CD_uni09C1</string>
		<string>uni0997_uni09F0_uni09CD_uni09C2</string>
		<string>g143</string>
		<string>uni0997_uni09AC_uni09CD</string>
		<string>g145</string>
		<string>uni0998_uni09F0_uni09CD</string>
		<string>uni0998_uni09AC_uni09CD</string>
		<string>g148</string>
		<string>g149</string>
		<string>g150</string>
		<string>g151</string>
		<string>g152</string>
		<string>g153</string>
		<string>g154</string>
		<string>g155</string>
		<string>g156</string>
		<string>uni0999_uni09F0_uni09CD</string>
		<string>g158</string>
		<string>g159</string>
		<string>g160</string>
		<string>g161</string>
		<string>g162</string>
		<string>g163</string>
		<string>uni099A_uni09F0_uni09CD</string>
		<string>uni099A_uni09AC_uni09CD</string>
		<string>uni099B_uni09F0_uni09CD</string>
		<string>uni099B_uni09AC_uni09CD</string>
		<string>g168</string>
		<string>g169</string>
		<string>g170</string>
		<string>g171</string>
		<string>uni099C_uni09F0_uni09CD</string>
		<string>uni099C_uni09AC_uni09CD</string>
		<string>uni099D_uni09F0_uni09CD</string>
		<string>g175</string>
		<string>g176</string>
		<string>g177</string>
		<string>g178</string>
		<string>g179</string>
		<string>g180</string>
		<string>g181</string>
		<string>g182</string>
		<string>g183</string>
		<string>uni099F_uni09F0_uni09CD</string>
		<string>uni099F_uni09AC_uni09CD</string>
		<string>uni09A0_uni09F0_uni09CD</string>
		<string>g187</string>
		<string>g188</string>
		<string>g189</string>
		<string>uni09A1_uni09F0_uni09CD</string>
		<string>uni09A1_uni09AC_uni09CD</string>
		<string>uni09A2_uni09F0_uni09CD</string>
		<string>g193</string>
		<string>g194</string>
		<string>g195</string>
		<string>g196</string>
		<string>g197</string>
		<string>g198</string>
		<string>g199</string>
		<string>g200</string>
		<string>g201</string>
		<string>g202</string>
		<string>uni09A3_uni09F0_uni09CD</string>
		<string>uni09A3_uni09AC_uni09CD</string>
		<string>uni09CE_uni09A4</string>
		<string>uni09CE_uni09A4_uni09AC_uni09CD</string>
		<string>uni09CE_uni09A5</string>
		<string>uni09CE_uni09A8</string>
		<string>uni09CE_uni09AE</string>
		<string>uni09A4_uni09F0_uni09CD</string>
		<string>uni09A4_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A4_uni09F0_uni09CD_uni09C2</string>
		<string>uni09CE_uni09B2</string>
		<string>uni09A4_uni09AC_uni09CD</string>
		<string>uni09A5_uni09F0_uni09CD</string>
		<string>uni09A5_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A5_uni09F0_uni09CD_uni09C2</string>
		<string>uni09A5_uni09AC_uni09CD</string>
		<string>g219</string>
		<string>g220</string>
		<string>g221</string>
		<string>g222</string>
		<string>g223</string>
		<string>g224</string>
		<string>g225</string>
		<string>g226</string>
		<string>g227</string>
		<string>g228</string>
		<string>g229</string>
		<string>uni09A6_uni09F0_uni09CD</string>
		<string>uni09A6_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A6_uni09F0_uni09CD_uni09C2</string>
		<string>uni09A6_uni09AC_uni09CD</string>
		<string>g234</string>
		<string>g235</string>
		<string>uni09A7_uni09F0_uni09CD</string>
		<string>uni09A7_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A7_uni09F0_uni09CD_uni09C2</string>
		<string>uni09A7_uni09AC_uni09CD</string>
		<string>g240</string>
		<string>g241</string>
		<string>g242</string>
		<string>g243</string>
		<string>g244</string>
		<string>g245</string>
		<string>g246</string>
		<string>g247</string>
		<string>g248</string>
		<string>g249</string>
		<string>g250</string>
		<string>g251</string>
		<string>g252</string>
		<string>g253</string>
		<string>g254</string>
		<string>g255</string>
		<string>g256</string>
		<string>g257</string>
		<string>g258</string>
		<string>g259</string>
		<string>uni09A8_uni09F0_uni09CD</string>
		<string>uni09A8_uni09AC_uni09CD</string>
		<string>g262</string>
		<string>g263</string>
		<string>g264</string>
		<string>g265</string>
		<string>g266</string>
		<string>g267</string>
		<string>g268</string>
		<string>g269</string>
		<string>uni09AA_uni09F0_uni09CD</string>
		<string>uni09AA_uni09F0_uni09CD_uni09C1</string>
		<string>uni09AA_uni09F0_uni09CD_uni09C2</string>
		<string>g273</string>
		<string>g274</string>
		<string>g275</string>
		<string>uni09AB_uni09F0_uni09CD</string>
		<string>g277</string>
		<string>g278</string>
		<string>g279</string>
		<string>g280</string>
		<string>g281</string>
		<string>g282</string>
		<string>g283</string>
		<string>g284</string>
		<string>uni09AC_uni09AC_uni09CD</string>
		<string>g286</string>
		<string>uni09AC_uni09F0_uni09CD</string>
		<string>uni09AC_uni09F0_uni09CD_uni09C1</string>
		<string>uni09AC_uni09F0_uni09CD_uni09C2</string>
		<string>g290</string>
		<string>uni09AD_uni09F0_uni09CD</string>
		<string>uni09AD_uni09F0_uni09CD_uni09C1</string>
		<string>uni09AD_uni09F0_uni09CD_uni09C2</string>
		<string>g294</string>
		<string>g295</string>
		<string>g296</string>
		<string>g297</string>
		<string>g298</string>
		<string>g299</string>
		<string>g300</string>
		<string>g301</string>
		<string>uni09AE_uni09AC_uni09CD</string>
		<string>g303</string>
		<string>g304</string>
		<string>g305</string>
		<string>uni09AE_uni09F0_uni09CD</string>
		<string>g307</string>
		<string>uni09AF_uni09F0_uni09CD</string>
		<string>uni09B0_uni09C1</string>
		<string>uni09B0_uni09C2</string>
		<string>g311</string>
		<string>g312</string>
		<string>g313</string>
		<string>g314</string>
		<string>g315</string>
		<string>g316</string>
		<string>g317</string>
		<string>g318</string>
		<string>g319</string>
		<string>g320</string>
		<string>g321</string>
		<string>g322</string>
		<string>uni09B2_uni09AC_uni09CD</string>
		<string>g324</string>
		<string>uni09B2_uni09F0_uni09CD</string>
		<string>g326</string>
		<string>uni09B6_uni09C1</string>
		<string>g328</string>
		<string>g329</string>
		<string>g330</string>
		<string>g331</string>
		<string>g332</string>
		<string>uni09B6_uni09AC_uni09CD</string>
		<string>uni09B6_uni09F0_uni09CD</string>
		<string>g335</string>
		<string>uni09B6_uni09F0_uni09CD_uni09C1</string>
		<string>uni09B6_uni09F0_uni09CD_uni09C2</string>
		<string>g338</string>
		<string>g339</string>
		<string>g340</string>
		<string>g341</string>
		<string>g342</string>
		<string>g343</string>
		<string>g344</string>
		<string>g345</string>
		<string>g346</string>
		<string>g347</string>
		<string>uni09B7_uni09F0_uni09CD</string>
		<string>uni09B7_uni09AC_uni09CD</string>
		<string>g350</string>
		<string>g351</string>
		<string>g352</string>
		<string>g353</string>
		<string>g354</string>
		<string>g355</string>
		<string>g356</string>
		<string>g357</string>
		<string>g358</string>
		<string>g359</string>
		<string>g360</string>
		<string>g361</string>
		<string>g362</string>
		<string>g363</string>
		<string>g364</string>
		<string>g365</string>
		<string>uni09B8_uni09AA_uni09F0_uni09CD_uni09C1</string>
		<string>g367</string>
		<string>g368</string>
		<string>uni09B8_uni09AC_uni09CD</string>
		<string>g370</string>
		<string>uni09B8_uni09F0_uni09CD</string>
		<string>uni09B8_uni09F0_uni09CD_uni09C1</string>
		<string>uni09B8_uni09F0_uni09CD_uni09C2</string>
		<string>g374</string>
		<string>uni09B9_uni09C1</string>
		<string>uni09B9_uni09C3</string>
		<string>g377</string>
		<string>g378</string>
		<string>uni09B9_uni09AC_uni09CD</string>
		<string>g380</string>
		<string>uni09B9_uni09F0_uni09CD</string>
		<string>g382</string>
		<string>g383</string>
		<string>uni09DC_uni09F0_uni09CD</string>
		<string>uni09DD_uni09F0_uni09CD</string>
		<string>uni09DF_uni09F0_uni09CD</string>
		<string>uni09F0_uni09C1</string>
		<string>uni09F0_uni09C2</string>
		<string>uni09F1_uni09C1</string>
		<string>uni09F1_uni09C2</string>
		<string>uni09F1_uni09F0_uni09CD</string>
		<string>uni09BF_uni0981</string>
		<string>uni0981_uni09C0</string>
		<string>uni0981_uni09D7</string>
		<string>uni09C7.init</string>
		<string>uni09C8.init</string>
		<string>uni09B0_uni09CD</string>
		<string>uni09F0_uni09CD</string>
		<string>uni09F0_uni09CD.vatu</string>
		<string>g400</string>
		<string>uni0995_uni09CD</string>
		<string>uni0996_uni09CD</string>
		<string>uni0997_uni09CD</string>
		<string>uni0998_uni09CD</string>
		<string>uni0999_uni09CD</string>
		<string>uni099A_uni09CD</string>
		<string>uni099B_uni09CD</string>
		<string>uni099C_uni09CD</string>
		<string>uni099D_uni09CD</string>
		<string>uni099E_uni09CD</string>
		<string>uni099F_uni09CD</string>
		<string>uni09A0_uni09CD</string>
		<string>uni09A1_uni09CD</string>
		<string>uni09A2_uni09CD</string>
		<string>uni09A3_uni09CD</string>
		<string>g416</string>
		<string>uni09A5_uni09CD</string>
		<string>uni09A6_uni09CD</string>
		<string>uni09A7_uni09CD</string>
		<string>uni09A8_uni09CD</string>
		<string>uni09AA_uni09CD</string>
		<string>uni09AB_uni09CD</string>
		<string>g423</string>
		<string>uni09AD_uni09CD</string>
		<string>uni09AE_uni09CD</string>
		<string>uni09AF_uni09CD</string>
		<string>g427</string>
		<string>uni09B2_uni09CD</string>
		<string>uni09AC_uni09CD</string>
		<string>uni09B6_uni09CD</string>
		<string>uni09B7_uni09CD</string>
		<string>uni09B8_uni09CD</string>
		<string>uni09B9_uni09CD</string>
		<string>uni09DC_uni09CD</string>
		<string>uni09DD_uni09CD</string>
		<string>uni09DF_uni09CD</string>
		<string>g437</string>
		<string>uni09F1_uni09CD</string>
		<string>g439</string>
		<string>uni0981.abvs</string>
		<string>uni09B0_uni09CD.abvs</string>
		<string>uni09C1.blws</string>
		<string>uni09C2.blws</string>
		<string>uni09CD.blws</string>
		<string>uni09C3.blws</string>
		<string>uni09C4.blws</string>
		<string>g447</string>
		<string>g448</string>
		<string>g449</string>
		<string>g450</string>
		<string>g451</string>
		<string>g452</string>
		<string>g453</string>
		<string>g454</string>
		<string>g455</string>
		<string>g456</string>
		<string>g457</string>
		<string>g458</string>
		<string>g459</string>
		<string>g460</string>
		<string>g461</string>
		<string>g462</string>
		<string>g463</string>
		<string>g464</string>
		<string>g465</string>
		<string>g466</string>
		<string>g467</string>
		<string>g468</string>
		<string>g469</string>
		<string>g470</string>
		<string>g471</string>
		<string>g472</string>
		<string>g473</string>
		<string>g474</string>
		<string>uni09B0_uni09CD_uni09C0</string>
		<string>g476</string>
		<string>g477</string>
		<string>g478</string>
		<string>uni2032</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni25CC</string>
		<string>uni09BC</string>
		<string>uni09A9</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni0981.001</string>
		<string>quotesinglbase</string>
		<string>florin</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>circumflex</string>
		<string>perthousand</string>
		<string>Scaron</string>
		<string>guilsinglleft</string>
		<string>OE</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>lozenge</string>
		<string>trademark</string>
		<string>scaron</string>
		<string>guilsinglright</string>
		<string>oe</string>
		<string>Ydieresis</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>850</integer>
			<key>y</key>
			<integer>491</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>847</integer>
			<key>y</key>
			<integer>456</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>121</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>16</integer>
			<key>y</key>
			<integer>572</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>568</integer>
			<key>y</key>
			<integer>747</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>-85</integer>
			<key>y</key>
			<integer>521</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>500</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>uni000D</string>
		<string>space</string>
		<string>uni0981</string>
		<string>uni0982</string>
		<string>uni0983</string>
		<string>uni0985</string>
		<string>uni0986</string>
		<string>uni0987</string>
		<string>uni0988</string>
		<string>uni0989</string>
		<string>uni098A</string>
		<string>uni098B</string>
		<string>uni098C</string>
		<string>uni098F</string>
		<string>uni0990</string>
		<string>uni0993</string>
		<string>uni0994</string>
		<string>uni0995</string>
		<string>uni0996</string>
		<string>uni0997</string>
		<string>uni0998</string>
		<string>uni0999</string>
		<string>uni099A</string>
		<string>uni099B</string>
		<string>uni099C</string>
		<string>uni099D</string>
		<string>uni099E</string>
		<string>uni099F</string>
		<string>uni09A0</string>
		<string>uni09A1</string>
		<string>uni09A2</string>
		<string>uni09A3</string>
		<string>uni09A4</string>
		<string>uni09A5</string>
		<string>uni09A6</string>
		<string>uni09A7</string>
		<string>uni09A8</string>
		<string>uni09AA</string>
		<string>uni09AB</string>
		<string>uni09AC</string>
		<string>uni09AD</string>
		<string>uni09AE</string>
		<string>uni09AF</string>
		<string>uni09B0</string>
		<string>uni09B2</string>
		<string>uni09B6</string>
		<string>uni09B7</string>
		<string>uni09B8</string>
		<string>uni09B9</string>
		<string>g51</string>
		<string>uni09BD</string>
		<string>uni09BE</string>
		<string>uni09BF</string>
		<string>uni09C0</string>
		<string>uni09C1</string>
		<string>uni09C2</string>
		<string>uni09C3</string>
		<string>uni09C4</string>
		<string>uni09C7</string>
		<string>uni09C8</string>
		<string>uni09CB</string>
		<string>uni09CC</string>
		<string>uni09CD</string>
		<string>uni09D7</string>
		<string>uni09DC</string>
		<string>uni09DD</string>
		<string>uni09DF</string>
		<string>uni09E0</string>
		<string>uni09E1</string>
		<string>uni09E2</string>
		<string>uni09E3</string>
		<string>uni09E6</string>
		<string>uni09E7</string>
		<string>uni09E8</string>
		<string>uni09E9</string>
		<string>uni09EA</string>
		<string>uni09EB</string>
		<string>uni09EC</string>
		<string>uni09ED</string>
		<string>uni09EE</string>
		<string>uni09EF</string>
		<string>uni09F0</string>
		<string>uni09F1</string>
		<string>uni09F2</string>
		<string>uni09F3</string>
		<string>uni09F4</string>
		<string>uni09F5</string>
		<string>uni09F6</string>
		<string>uni099C_uni09BC_uni09F0_uni09CD</string>
		<string>uni09F7</string>
		<string>uni09F8</string>
		<string>uni09FA</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>uni09F9</string>
		<string>uni20B9</string>
		<string>uni09FB</string>
		<string>uni09DC_uni09C1</string>
		<string>uni09DC_uni09C2</string>
		<string>uni09DD_uni09C1</string>
		<string>uni09DD_uni09C2</string>
		<string>g103</string>
		<string>uni09F1_uni09F0_uni09CD_uni09C1</string>
		<string>uni09F1_uni09F0_uni09CD_uni09C2</string>
		<string>uni09BF.pres</string>
		<string>uni099C_uni09BC</string>
		<string>g108</string>
		<string>g109</string>
		<string>g110</string>
		<string>g111</string>
		<string>g112</string>
		<string>uni09CE</string>
		<string>g114</string>
		<string>g115</string>
		<string>g116</string>
		<string>g117</string>
		<string>g118</string>
		<string>g119</string>
		<string>g120</string>
		<string>uni0995_uni09F0_uni09CD</string>
		<string>g122</string>
		<string>uni0995_uni09AC_uni09CD</string>
		<string>g124</string>
		<string>g125</string>
		<string>g126</string>
		<string>g127</string>
		<string>g128</string>
		<string>g129</string>
		<string>uni0996_uni09F0_uni09CD</string>
		<string>uni0996_uni09AC_uni09CD</string>
		<string>uni0997_uni09C1</string>
		<string>g133</string>
		<string>g134</string>
		<string>g135</string>
		<string>g136</string>
		<string>g137</string>
		<string>g138</string>
		<string>g139</string>
		<string>uni0997_uni09F0_uni09CD</string>
		<string>uni0997_uni09F0_uni09CD_uni09C1</string>
		<string>uni0997_uni09F0_uni09CD_uni09C2</string>
		<string>g143</string>
		<string>uni0997_uni09AC_uni09CD</string>
		<string>g145</string>
		<string>uni0998_uni09F0_uni09CD</string>
		<string>uni0998_uni09AC_uni09CD</string>
		<string>g148</string>
		<string>g149</string>
		<string>g150</string>
		<string>g151</string>
		<string>g152</string>
		<string>g153</string>
		<string>g154</string>
		<string>g155</string>
		<string>g156</string>
		<string>uni0999_uni09F0_uni09CD</string>
		<string>g158</string>
		<string>g159</string>
		<string>g160</string>
		<string>g161</string>
		<string>g162</string>
		<string>g163</string>
		<string>uni099A_uni09F0_uni09CD</string>
		<string>uni099A_uni09AC_uni09CD</string>
		<string>uni099B_uni09F0_uni09CD</string>
		<string>uni099B_uni09AC_uni09CD</string>
		<string>g168</string>
		<string>g169</string>
		<string>g170</string>
		<string>g171</string>
		<string>uni099C_uni09F0_uni09CD</string>
		<string>uni099C_uni09AC_uni09CD</string>
		<string>uni099D_uni09F0_uni09CD</string>
		<string>g175</string>
		<string>g176</string>
		<string>g177</string>
		<string>g178</string>
		<string>g179</string>
		<string>g180</string>
		<string>g181</string>
		<string>g182</string>
		<string>g183</string>
		<string>uni099F_uni09F0_uni09CD</string>
		<string>uni099F_uni09AC_uni09CD</string>
		<string>uni09A0_uni09F0_uni09CD</string>
		<string>g187</string>
		<string>g188</string>
		<string>g189</string>
		<string>uni09A1_uni09F0_uni09CD</string>
		<string>uni09A1_uni09AC_uni09CD</string>
		<string>uni09A2_uni09F0_uni09CD</string>
		<string>g193</string>
		<string>g194</string>
		<string>g195</string>
		<string>g196</string>
		<string>g197</string>
		<string>g198</string>
		<string>g199</string>
		<string>g200</string>
		<string>g201</string>
		<string>g202</string>
		<string>uni09A3_uni09F0_uni09CD</string>
		<string>uni09A3_uni09AC_uni09CD</string>
		<string>uni09CE_uni09A4</string>
		<string>uni09CE_uni09A4_uni09AC_uni09CD</string>
		<string>uni09CE_uni09A5</string>
		<string>uni09CE_uni09A8</string>
		<string>uni09CE_uni09AE</string>
		<string>uni09A4_uni09F0_uni09CD</string>
		<string>uni09A4_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A4_uni09F0_uni09CD_uni09C2</string>
		<string>uni09CE_uni09B2</string>
		<string>uni09A4_uni09AC_uni09CD</string>
		<string>uni09A5_uni09F0_uni09CD</string>
		<string>uni09A5_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A5_uni09F0_uni09CD_uni09C2</string>
		<string>uni09A5_uni09AC_uni09CD</string>
		<string>g219</string>
		<string>g220</string>
		<string>g221</string>
		<string>g222</string>
		<string>g223</string>
		<string>g224</string>
		<string>g225</string>
		<string>g226</string>
		<string>g227</string>
		<string>g228</string>
		<string>g229</string>
		<string>uni09A6_uni09F0_uni09CD</string>
		<string>uni09A6_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A6_uni09F0_uni09CD_uni09C2</string>
		<string>uni09A6_uni09AC_uni09CD</string>
		<string>g234</string>
		<string>g235</string>
		<string>uni09A7_uni09F0_uni09CD</string>
		<string>uni09A7_uni09F0_uni09CD_uni09C1</string>
		<string>uni09A7_uni09F0_uni09CD_uni09C2</string>
		<string>uni09A7_uni09AC_uni09CD</string>
		<string>g240</string>
		<string>g241</string>
		<string>g242</string>
		<string>g243</string>
		<string>g244</string>
		<string>g245</string>
		<string>g246</string>
		<string>g247</string>
		<string>g248</string>
		<string>g249</string>
		<string>g250</string>
		<string>g251</string>
		<string>g252</string>
		<string>g253</string>
		<string>g254</string>
		<string>g255</string>
		<string>g256</string>
		<string>g257</string>
		<string>g258</string>
		<string>g259</string>
		<string>uni09A8_uni09F0_uni09CD</string>
		<string>uni09A8_uni09AC_uni09CD</string>
		<string>g262</string>
		<string>g263</string>
		<string>g264</string>
		<string>g265</string>
		<string>g266</string>
		<string>g267</string>
		<string>g268</string>
		<string>g269</string>
		<string>uni09AA_uni09F0_uni09CD</string>
		<string>uni09AA_uni09F0_uni09CD_uni09C1</string>
		<string>uni09AA_uni09F0_uni09CD_uni09C2</string>
		<string>g273</string>
		<string>g274</string>
		<string>g275</string>
		<string>uni09AB_uni09F0_uni09CD</string>
		<string>g277</string>
		<string>g278</string>
		<string>g279</string>
		<string>g280</string>
		<string>g281</string>
		<string>g282</string>
		<string>g283</string>
		<string>g284</string>
		<string>uni09AC_uni09AC_uni09CD</string>
		<string>g286</string>
		<string>uni09AC_uni09F0_uni09CD</string>
		<string>uni09AC_uni09F0_uni09CD_uni09C1</string>
		<string>uni09AC_uni09F0_uni09CD_uni09C2</string>
		<string>g290</string>
		<string>uni09AD_uni09F0_uni09CD</string>
		<string>uni09AD_uni09F0_uni09CD_uni09C1</string>
		<string>uni09AD_uni09F0_uni09CD_uni09C2</string>
		<string>g294</string>
		<string>g295</string>
		<string>g296</string>
		<string>g297</string>
		<string>g298</string>
		<string>g299</string>
		<string>g300</string>
		<string>g301</string>
		<string>uni09AE_uni09AC_uni09CD</string>
		<string>g303</string>
		<string>g304</string>
		<string>g305</string>
		<string>uni09AE_uni09F0_uni09CD</string>
		<string>g307</string>
		<string>uni09AF_uni09F0_uni09CD</string>
		<string>uni09B0_uni09C1</string>
		<string>uni09B0_uni09C2</string>
		<string>g311</string>
		<string>g312</string>
		<string>g313</string>
		<string>g314</string>
		<string>g315</string>
		<string>g316</string>
		<string>g317</string>
		<string>g318</string>
		<string>g319</string>
		<string>g320</string>
		<string>g321</string>
		<string>g322</string>
		<string>uni09B2_uni09AC_uni09CD</string>
		<string>g324</string>
		<string>uni09B2_uni09F0_uni09CD</string>
		<string>g326</string>
		<string>uni09B6_uni09C1</string>
		<string>g328</string>
		<string>g329</string>
		<string>g330</string>
		<string>g331</string>
		<string>g332</string>
		<string>uni09B6_uni09AC_uni09CD</string>
		<string>uni09B6_uni09F0_uni09CD</string>
		<string>g335</string>
		<string>uni09B6_uni09F0_uni09CD_uni09C1</string>
		<string>uni09B6_uni09F0_uni09CD_uni09C2</string>
		<string>g338</string>
		<string>g339</string>
		<string>g340</string>
		<string>g341</string>
		<string>g342</string>
		<string>g343</string>
		<string>g344</string>
		<string>g345</string>
		<string>g346</string>
		<string>g347</string>
		<string>uni09B7_uni09F0_uni09CD</string>
		<string>uni09B7_uni09AC_uni09CD</string>
		<string>g350</string>
		<string>g351</string>
		<string>g352</string>
		<string>g353</string>
		<string>g354</string>
		<string>g355</string>
		<string>g356</string>
		<string>g357</string>
		<string>g358</string>
		<string>g359</string>
		<string>g360</string>
		<string>g361</string>
		<string>g362</string>
		<string>g363</string>
		<string>g364</string>
		<string>g365</string>
		<string>uni09B8_uni09AA_uni09F0_uni09CD_uni09C1</string>
		<string>g367</string>
		<string>g368</string>
		<string>uni09B8_uni09AC_uni09CD</string>
		<string>g370</string>
		<string>uni09B8_uni09F0_uni09CD</string>
		<string>uni09B8_uni09F0_uni09CD_uni09C1</string>
		<string>uni09B8_uni09F0_uni09CD_uni09C2</string>
		<string>g374</string>
		<string>uni09B9_uni09C1</string>
		<string>uni09B9_uni09C3</string>
		<string>g377</string>
		<string>g378</string>
		<string>uni09B9_uni09AC_uni09CD</string>
		<string>g380</string>
		<string>uni09B9_uni09F0_uni09CD</string>
		<string>g382</string>
		<string>g383</string>
		<string>uni09DC_uni09F0_uni09CD</string>
		<string>uni09DD_uni09F0_uni09CD</string>
		<string>uni09DF_uni09F0_uni09CD</string>
		<string>uni09F0_uni09C1</string>
		<string>uni09F0_uni09C2</string>
		<string>uni09F1_uni09C1</string>
		<string>uni09F1_uni09C2</string>
		<string>uni09F1_uni09F0_uni09CD</string>
		<string>uni09BF_uni0981</string>
		<string>uni0981_uni09C0</string>
		<string>uni0981_uni09D7</string>
		<string>uni09C7.init</string>
		<string>uni09C8.init</string>
		<string>uni09B0_uni09CD</string>
		<string>uni09F0_uni09CD</string>
		<string>uni09F0_uni09CD.vatu</string>
		<string>g400</string>
		<string>uni0995_uni09CD</string>
		<string>uni0996_uni09CD</string>
		<string>uni0997_uni09CD</string>
		<string>uni0998_uni09CD</string>
		<string>uni0999_uni09CD</string>
		<string>uni099A_uni09CD</string>
		<string>uni099B_uni09CD</string>
		<string>uni099C_uni09CD</string>
		<string>uni099D_uni09CD</string>
		<string>uni099E_uni09CD</string>
		<string>uni099F_uni09CD</string>
		<string>uni09A0_uni09CD</string>
		<string>uni09A1_uni09CD</string>
		<string>uni09A2_uni09CD</string>
		<string>uni09A3_uni09CD</string>
		<string>g416</string>
		<string>uni09A5_uni09CD</string>
		<string>uni09A6_uni09CD</string>
		<string>uni09A7_uni09CD</string>
		<string>uni09A8_uni09CD</string>
		<string>uni09AA_uni09CD</string>
		<string>uni09AB_uni09CD</string>
		<string>g423</string>
		<string>uni09AD_uni09CD</string>
		<string>uni09AE_uni09CD</string>
		<string>uni09AF_uni09CD</string>
		<string>g427</string>
		<string>uni09B2_uni09CD</string>
		<string>uni09AC_uni09CD</string>
		<string>uni09B6_uni09CD</string>
		<string>uni09B7_uni09CD</string>
		<string>uni09B8_uni09CD</string>
		<string>uni09B9_uni09CD</string>
		<string>uni09DC_uni09CD</string>
		<string>uni09DD_uni09CD</string>
		<string>uni09DF_uni09CD</string>
		<string>g437</string>
		<string>uni09F1_uni09CD</string>
		<string>g439</string>
		<string>uni0981.abvs</string>
		<string>uni09B0_uni09CD.abvs</string>
		<string>uni09C1.blws</string>
		<string>uni09C2.blws</string>
		<string>uni09CD.blws</string>
		<string>uni09C3.blws</string>
		<string>uni09C4.blws</string>
		<string>g447</string>
		<string>g448</string>
		<string>g449</string>
		<string>g450</string>
		<string>g451</string>
		<string>g452</string>
		<string>g453</string>
		<string>g454</string>
		<string>g455</string>
		<string>g456</string>
		<string>g457</string>
		<string>g458</string>
		<string>g459</string>
		<string>g460</string>
		<string>g461</string>
		<string>g462</string>
		<string>g463</string>
		<string>g464</string>
		<string>g465</string>
		<string>g466</string>
		<string>g467</string>
		<string>g468</string>
		<string>g469</string>
		<string>g470</string>
		<string>g471</string>
		<string>g472</string>
		<string>g473</string>
		<string>g474</string>
		<string>uni09B0_uni09CD_uni09C0</string>
		<string>g476</string>
		<string>g477</string>
		<string>g478</string>
		<string>uni2032</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni25CC</string>
		<string>uni09BC</string>
		<string>uni09A9</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni0981.001</string>
		<string>quotesinglbase</string>
		<string>florin</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>circumflex</string>
		<string>perthousand</string>
		<string>Scaron</string>
		<string>guilsinglleft</string>
		<string>OE</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>lozenge</string>
		<string>trademark</string>
		<string>scaron</string>
		<string>guilsinglright</string>
		<string>oe</string>
		<string>Ydieresis</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>uni09BE.001</string>
	</array>
</dict>
</plist>
